In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.styles import Font
from openpyxl.styles import PatternFill
from openpyxl.utils import get_column_letter

# Exercise 1

In [14]:
# Use the openpyxl module to create a new workbook and add values/formulae to it
# Create a new workbook and select the active worksheet
wb = Workbook()
ws = wb.active
ws.title = "Calculator"

# Insert Data into the sheet
ws['A1'] = 'First Number ==>'
ws['A2'] = 'Second Number ==>'
ws['A3'] = 'PRODUCT ==>'
ws['A4'] = 'QUOTIENT ==>'
ws['A5'] = 'SUM ==>'
ws['A6'] = 'DIFFERENCE ==>'
ws['B1'] = 3
ws['B2'] = 8
ws['B3'] = "=B1 * B2"
ws['B4'] = "=B1 / B2"
ws['B5'] = "=B1 + B2"
ws['B6'] = "=B1 - B2"

# Format Cells
for column in ws.columns:
    max_length = max(len(str(cell.value)) if cell.value is not None else 0 for cell in column)
    adjusted_width = max_length + 1
    ws.column_dimensions[get_column_letter(column[0].column)].width = adjusted_width


# Save Workbook
wb.save('exercise1.xlsx')

# Exercise 2

In [15]:
from openpyxl import load_workbook

# create a new workbook
plant_book = load_workbook(filename=r"C:\Repositories\DI-Bootcamp\Week14\Day6\ExercisesXP\Plants.xlsx")

# get reference to first (and only) sheet
plant_sheet = plant_book["Sheet1"]

# keep looping down cells in first column
this_plant = plant_sheet.cell(1,1)

int_check = 0
while True:

    # avoid infinite loops if bug
    int_check += 1
    if int_check > 100:
        print("Integer check triggered")
        break

    # go to next plant
    this_plant = this_plant.offset(1,0)

    # if no such plant, stop
    if this_plant.value == None:
        print("\nThe above plants are not in stock")
        break

    # if this plant is not in stock, say so
    stock_cell = this_plant.offset(0,7)
    if stock_cell.value == "No":
        print(this_plant.value)

# close down the file
plant_book.close()

Honeysuckle
Lupin
Skimmia
Rosa
Gladioli

The above plants are not in stock

c:\Users\nivya\anaconda3\envs\jupyter_env\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

# Exercise 3

In [21]:
# Load Excel File and give path to your file
df = pd.read_excel(r'C:\Repositories\DI-Bootcamp\Week14\Day6\ExercisesXP\data.xlsx')
print(df.shape)
df.head()

(1299, 1)

   Sales
0    230
1    240
2    250
3    260
4    270

In [22]:
# Perform data manipulation on the DataFrame by filtering the data where ‘Sales’ is greater than 1000.
df = df[df['Sales'] > 1000]

# Check
print(df.shape)

(1221, 1)

In [23]:
# Use Openpyxl to write the filtered data back to the Excel file
with pd.ExcelWriter("data.xlsx", engine='openpyxl', mode='a') as writer:
    df.to_excel(writer, sheet_name='Filtered Data', index=False)

# Exercise 4

In [26]:
import matplotlib.pyplot as plt
import seaborn as sns
# Load Excel File, plot charts and Manipulate Data
# Load Data to pandas Dataframe
df = pd.read_excel(r'C:\Repositories\DI-Bootcamp\Week14\Day6\ExercisesXP\productSales.xlsx')
df.head()

      product  sales
0       Apple     15
1      Banana     13
2  Strawberry     16
3  Watermelon     16
4       Apple     46

In [31]:
# Manipulate the data by grouping it by ‘product’ and summing the sales for each product
df_grouped = df.groupby('product').agg('sum')

# Export it back into a new Excel file (‘sales_report.xlsx’) using pandas’ to_excel() function
with pd.ExcelWriter('sales_report.xlsx', engine='openpyxl') as writer:
    df_grouped.to_excel(writer, sheet_name='Sheet1', index=True)