# Structured vs Unstructured Data

***Structured data*** is like a well-organized library where everything has a place, and you can easily find what you’re looking for. It’s data that lives in fixed fields within a record or file, like rows and columns in a spreadsheet.

*   Highly organized, easily searchable, often stored in databases

***Unstructured data*** is the wild jungle of data. It doesn’t fit neatly into traditional row and column structures - it’s free-form, and it’s everywhere. Think of it as all the random notes you scribble in your notebook, full of ideas but not in any specific order.

*   Not organized in a predefined manner, complex to process and analyze.

# Importing Data

In [1]:
import pandas as pd

data = pd.read_csv("C:\\Users\\nivya\\Downloads\\filename1.csv")
data.head()

     name  age  is_member
0   Ariel   28       True
1  Camila   29      False
2   Derek   31       True