In [12]:
import numpy as np # linear algebra
import pandas as pd # data manipulation and analysis
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # data visualization
sns.set_style('whitegrid') # set style for visualization
import warnings # ignore warnings
warnings.filterwarnings('ignore')
import requests, zipfile, io
from sklearn.impute import KNNImputer

# Loading Dataset

In [13]:
# Download and Unzip the Dataset
url = "https://github.com/devtlv/Datasets-DA-Bootcamp-2-/raw/refs/heads/main/Week%206%20-%20Applications%20for%20Data%20Analysis/W6D2%20-%20Advanced%20Numpy/globalpowerplantdatabasev130.zip"

r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("data")

In [14]:
# Load data as Dataframe
df = pd.read_csv(r'C:\Repositories\DI-Bootcamp\Week10\Day4\DailyChallenge\data\global_power_plant_database.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         34936 non-null  object
 1   country_long                    34936 non-null  object
 2   name                            34936 non-null  object
 3   gppd_idnr                       34936 non-null  object
 4   capacity_mw                     34936 non-null  float64
 5   latitude                        34936 non-null  float64
 6   longitude                       34936 non-null  float64
 7   primary_fuel                    34936 non-null  object
 8   other_fuel1                     1944 non-null   object
 9   other_fuel2                     276 non-null    object
 10  other_fuel3                     92 non-null     object
 11  commissioning_year              17447 non-null  float64
 12  owner                           20868 non-null  object
 13  source                          34921 non-null  object
 14  url                             34918 non-null  object
 15  geolocation_source              34517 non-null  object
 16  wepp_id                         16234 non-null  object
 17  year_of_capacity_data           14887 non-null  float64
 18  generation_gwh_2013             6417 non-null   float64
 19  generation_gwh_2014             7226 non-null   float64
 20  generation_gwh_2015             8203 non-null   float64
 21  generation_gwh_2016             9144 non-null   float64
 22  generation_gwh_2017             9500 non-null   float64
 23  generation_gwh_2018             9637 non-null   float64
 24  generation_gwh_2019             9659 non-null   float64
 25  generation_data_source          11400 non-null  object
 26  estimated_generation_gwh_2013   16120 non-null  float64
 27  estimated_generation_gwh_2014   16503 non-null  float64
 28  estimated_generation_gwh_2015   17050 non-null  float64
 29  estimated_generation_gwh_2016   17570 non-null  float64
 30  estimated_generation_gwh_2017   33138 non-null  float64
 31  estimated_generation_note_2013  34936 non-null  object
 32  estimated_generation_note_2014  34936 non-null  object
 33  estimated_generation_note_2015  34936 non-null  object
 34  estimated_generation_note_2016  34936 non-null  object
 35  estimated_generation_note_2017  34936 non-null  object
dtypes: float64(17), object(19)
memory usage: 9.6+ MB

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

In [ ]:
# Drop Unecessary Columns
df = df.drop(columns=['other_fuel1', 'other_fuel2', 'other_fuel3', 'owner', 'source', 'url', 'wepp_id', 'geolocation_source'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         34936 non-null  object
 1   country_long                    34936 non-null  object
 2   name                            34936 non-null  object
 3   gppd_idnr                       34936 non-null  object
 4   capacity_mw                     34936 non-null  float64
 5   latitude                        34936 non-null  float64
 6   longitude                       34936 non-null  float64
 7   primary_fuel                    34936 non-null  object
 8   commissioning_year              17447 non-null  float64
 9   year_of_capacity_data           14887 non-null  float64
 10  generation_gwh_2013             6417 non-null   float64
 11  generation_gwh_2014             7226 non-null   float64
 12  generation_gwh_2015             8203 non-null   float64
 13  generation_gwh_2016             9144 non-null   float64
 14  generation_gwh_2017             9500 non-null   float64
 15  generation_gwh_2018             9637 non-null   float64
 16  generation_gwh_2019             9659 non-null   float64
 17  generation_data_source          11400 non-null  object
 18  estimated_generation_gwh_2013   16120 non-null  float64
 19  estimated_generation_gwh_2014   16503 non-null  float64
 20  estimated_generation_gwh_2015   17050 non-null  float64
 21  estimated_generation_gwh_2016   17570 non-null  float64
 22  estimated_generation_gwh_2017   33138 non-null  float64
 23  estimated_generation_note_2013  34936 non-null  object
 24  estimated_generation_note_2014  34936 non-null  object
 25  estimated_generation_note_2015  34936 non-null  object
 26  estimated_generation_note_2016  34936 non-null  object
 27  estimated_generation_note_2017  34936 non-null  object
dtypes: float64(17), object(11)
memory usage: 7.5+ MB

In [16]:
# Separate Numeric vs Categorical
df_numeric = df.select_dtypes(include=('number'))
df_caterogical = df.select_dtypes(exclude=('number'))

for col in df_caterogical:
    print(df_caterogical[col].value_counts())

country
USA    9833
CHN    4235
GBR    2751
BRA    2360
FRA    2155
       ...
GNB       1
LCA       1
PSE       1
SUR       1
ESH       1
Name: count, Length: 167, dtype: int64
country_long
United States of America    9833
China                       4235
United Kingdom              2751
Brazil                      2360
France                      2155
                            ...
Guinea-Bissau                  1
Saint Lucia                    1
Palestine                      1
Suriname                       1
Western Sahara                 1
Name: count, Length: 167, dtype: int64
name
Santo Antônio                                            6
Santa Rosa                                               5
Funil                                                    5
Santa Helena                                             5
São José                                                 5
                                                        ..
Ndola                                                    1
Nkana                                                    1
Victoria Falls                                           1
Hwange Coal Power Plant Zimbabwe                         1
Kariba Dam South Hydroelectric Power Station Zimbabwe    1
Name: count, Length: 34528, dtype: int64
gppd_idnr
GEODB0040538    1
WKS0070144      1
WKS0071196      1
GEODB0040541    1
GEODB0040534    1
               ..
WRI1022386      1
WRI1022384      1
WRI1022380      1
GEODB0040404    1
GEODB0003803    1
Name: count, Length: 34936, dtype: int64
primary_fuel
Solar             10665
Hydro              7156
Wind               5344
Gas                3998
Coal               2330
Oil                2320
Biomass            1430
Waste              1068
Nuclear             195
Geothermal          189
Storage             135
Other                43
Cogeneration         41
Petcoke              12
Wave and Tidal       10
Name: count, dtype: int64
generation_data_source
U.S. Energy Information Administration                                       9715
JRC-PPDB-OPEN                                                                 509
Central Electricity Authority                                                 437
Australia Clean Energy Regulator                                              269
Open Development Vietnam                                                      156
Guatemala Energy Data Visualization Center at Universidad Rafael Landivar      72
ENTSOE                                                                         58
Egyptian Electricity Holding Company                                           39
Venezuela Electricity Sector                                                   36
Peru Ministry of Energy and Mines                                              30
Open Development Myanmar                                                       30
Agencia de Regulacion y Control de Electricidad                                17
Wind Stats Netherlands                                                         15
Arab Union of Electricity                                                       5
Volta River Authority                                                           5
Office National de l'Electricite                                                5
IAEA                                                                            2
Name: count, dtype: int64
estimated_generation_note_2013
NO-ESTIMATION      18816
SOLAR-V1-NO-AGE     7138
HYDRO-V1            7108
WIND-V1             1379
SOLAR-V1             495
Name: count, dtype: int64
estimated_generation_note_2014
NO-ESTIMATION      18433
SOLAR-V1-NO-AGE     7165
HYDRO-V1            7109
WIND-V1             1488
SOLAR-V1             741
Name: count, dtype: int64
estimated_generation_note_2015
NO-ESTIMATION      17886
SOLAR-V1-NO-AGE     7165
HYDRO-V1            7109
WIND-V1             1669
SOLAR-V1            1107
Name: count, dtype: int64
estimated_generation_note_2016
NO-ESTIMATION      17366
SOLAR-V1-NO-AGE     7165
HYDRO-V1            7104
WIND-V1             1861
SOLAR-V1            1440
Name: count, dtype: int64
estimated_generation_note_2017
CAPACITY-FACTOR-V1    14942
SOLAR-V1-NO-AGE        7165
HYDRO-V1               7106
WIND-V1                2033
SOLAR-V1               1892
NO-ESTIMATION          1798
Name: count, dtype: int64

In [17]:
df.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
count,34936.000000,34936.000000,34936.000000,17447.000000,14887.000000,6417.000000,7226.000000,8203.000000,9144.000000,9500.000000,9637.000000,9659.000000,16120.000000,16503.000000,17050.000000,17570.000000,33138.000000
mean,163.355148,32.816637,-6.972803,1997.414823,2018.218849,592.696107,656.863891,762.368840,693.149763,661.834161,517.320785,423.922436,239.112221,242.431122,235.866067,235.695265,716.443378
std,489.636072,22.638603,78.405850,23.397835,1.606428,2174.833482,2231.464288,2533.459828,2404.516759,2369.296957,1975.302686,1698.506485,1191.258172,1285.798297,1267.005223,1259.559841,2484.361200
min,1.000000,-77.847000,-179.977700,1896.000000,2000.000000,-947.600000,-989.619000,-864.428000,-768.620000,-934.944000,-982.622000,-780.339000,1.120000,0.870000,0.440000,0.300000,0.000000
25%,4.900000,29.256475,-77.641550,1988.000000,2017.000000,1.947000,2.260000,2.664500,2.729000,2.467000,2.242000,2.751500,8.620000,8.680000,8.380000,8.322500,8.180000
50%,16.745000,39.727750,-2.127100,2007.000000,2019.000000,23.426000,23.608500,26.142000,22.462389,17.876500,12.530000,11.530000,27.620000,28.250000,26.830000,27.555000,37.590000
75%,75.344250,46.263125,49.502675,2014.000000,2019.000000,199.706000,226.322250,285.862583,249.866750,214.505150,151.117000,122.781498,106.805000,106.980000,103.120000,107.237500,229.565000
max,22500.000000,71.292000,179.388700,2020.000000,2019.000000,50834.000000,32320.917000,37433.607000,32377.477000,36448.643000,35136.000000,31920.368000,48675.060000,58470.770000,57113.350000,60859.730000,82810.770000

# Cleaning